@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-weight:  550;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   max-width: 100%;
}

.select {
   color: black;
}

.input {
   color: black;
}
.button {
   border: none;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   color: white;
   min-width: 2rem;
   min-height: 2rem;
   background-color: #535353;
}
