:root {
   --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
   --button-color: #4CAF50;
   --button-color-hover: #3e8e41;
   --darkgray: #fff;
}

* {
   font-weight:  550;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
   background-color: var(--button-color);
   border: none;
   padding: .5rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   color: white;
   min-width: 2rem;
   min-height: 2rem;
}

.button:hover {
   background-color: var(--button-color-hover);
}

.select {
   /* Reset Select */
   appearance: none;
   outline: 0;
   border: 0;
   box-shadow: none;
   /* Personalize */
   flex: 1;
   padding: 0 1em;
   color: black;
   background-color: var(--darkgray);
   background-image: none;
   cursor: pointer;
   max-width: 18rem;
   position: relative;
   display: flex;
   height: 3em;
   border-radius: .25em;
   overflow: hidden;
}

